*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font: 16px;
    color: var(--color-body-text);
}

body{
    font-family: 'Fira Code', monospace;
    background-color:  var(--color-bg);
    padding-top: 5rem;
    /* padding-left: 17rem; */
    /* padding-right: 17rem; */
}

.page-body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  var(--color-editor);
    padding-top: 5rem;
    padding-bottom: 50rem;
    max-width: 81ch;
    margin: 0 auto;
}

.main-section{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.text-head{
    font-size: 1.3rem;
    font-weight: 700;
}

.text{
    font-size: 1.1rem;
    font-weight: 500;
}

.footer{
    display: flex;
    justify-content: space-between;
}

.socials{
    display: flex;
    gap: .5rem;
}

.link{
    color: var(--color-accent-1);
    font-size: 1.1rem;
    text-decoration: none;
    border-bottom: 1px solid;
}

.link:hover{
    color: var(--color-focus);
}

.orange{
    color: var(--color-code-text-inline);
}

.toggle select{
    background-color: var(--color-editor);
    color: var(--color-body-text);
    border: none;
    font-size: 1rem;
    font-family: 'Fira Code', monospace;
    width: 8rem;
}

.number-section{
    display: flex;
    flex-direction: column;
    padding-top: 0%;
    padding-right: 1rem;
}

.numbers span{
    font-size: 1.2rem;
    color: var(--color-line-text);
    cursor: pointer;
}

.numbers span:hover{
    color: var(--color-line-text-hover);
}

.horizontal-line::before{
    content: "//";
    color:  var(--color-comment);
    margin-right: 1rem;
}

.horizontal-line::after{
    content: "--------------------------------------------------------------";
    --tw-shadow: 0 0 #0000;
    font-variant-ligatures: none;
    color:  var(--color-comment);
}

.image2::after{
    content: "Response flow from server to user over a CDN";
    display: block;
    text-align: center;
    font-size: .9rem;
    color: var(--color-secondary-text);
    font-weight: 400;
}

.quotes{
    /* margin-top: ; */
    margin-bottom: var(--line);
    display: flex;
    overflow: hidden;
    color: var(--color-line-text);
}

.quotes::before{
    content: '> > > > > > > > > > > > > > > > > > > > > > > > > > > > > > > > > > > > > > > >';
    width: 1ch;
    margin-right: 2ch;
    position: relative;
    z-index: 20;
    display: flex;
    height: 2rem;
    /* flex-direction: column; */
}

.wrapper{
    flex-grow: 1;
    width: 0;
}

.harsh{
    padding: 1.5rem 1rem;
    background-color: var(--color-bg);
    color: var(--color-comment);
}

.ttl{
    font-size: 1rem;
    font-weight: 500; 
}

.ttl::before{
    content: '-';
    color: var(--color-accent-1);
    padding-right: 1rem;
}

.text-1::before{
    content: '1.';
    font-size: 1.1rem;
    color: var(--color-accent-1);
    position: relative;
}

#date::after{
    content: '08 Feb 2022';
    font-size: 0.9rem;
    color: var(--color-secondary-text);
    padding-left: 4rem;
}

#lines::after{
    content: '182 Lines';
    font-size: 0.9rem;
    padding-left: 9rem;
    color: var(--color-secondary-text);
}

.nav-bar{
    display: flex;
    justify-content: center;
}


:root,
    :root.dark{
        --color-bg: #252526;
    --color-editor: #1e1e1e;
    --color-body-text: #d4d4d4;
    --color-secondary-text: #bbbbbb;
    --color-line-text: #858585;
    --color-line-text-hover: #c6c6c6;
    --color-line-highlight-bg: transparent;
    --color-comment: #6a9955;
    --color-tab: #2d2d2d;
    --color-tab-text: #ffffff80;
    --color-tab-text-active: #ffffff;
    --color-accent-1: #4ec9b0;
    --color-accent-2: #4e94ce;
    --color-selection: #264f78;
    --color-scrollbar-border: #7f7f7f4d;
    --color-scrollbar-thumb: #79797966;
    --color-scrollbar-thumb-hover: #646464b3;
    --color-scrollbar-thumb-active: #bfbfbf66;
    --color-scrollbar-shadow: #000000;
    --color-focus: #007fd4;
    --color-tab-icon-hover: #5a5d5e50;
    --color-tab-icon-active: #63666750;
    --color-code-bg: #1c1c1c;
    --color-code-text: #d4d4d4;
    --color-code-text-inline: #ce9178;
    --color-code-keyword: #569cd6;
    --color-code-function: #4ec9b0;
    --color-code-operator: #d4d4d4;
    --color-code-string: #ce9178;
    --color-code-variable: #9cdcfe;
    --color-code-constant: #4fc1ff;
    --color-code-punctuation: #d4d4d4;
    --color-code-comment: #6a9955;
    --color-quote: var(--color-body-text);
    --color-quote-symbols: var(--color-comment);
    }

    :root.light{
        /* background-color: #f3f3f3;
        color: #000000; */
        --color-bg: #f3f3f3;
    --color-editor: #ffffff;
    --color-body-text: #000000;
    --color-secondary-text: #444444;
    --color-line-text: #237893;
    --color-line-text-hover: #0b216f;
    --color-line-highlight-bg: transparent;
    --color-comment: #008000;
    --color-tab: #ececec;
    --color-tab-text: #333333b3;
    --color-tab-text-active: #333333;
    --color-accent-1: #267f99;
    --color-accent-2: #0000ff;
    --color-selection: #add6ff;
    --color-scrollbar-border: #7f7f7f4d;
    --color-scrollbar-thumb: #64646466;
    --color-scrollbar-thumb-hover: #646464b3;
    --color-scrollbar-thumb-active: #00000099;
    --color-scrollbar-shadow: #dddddd;
    --color-focus: #0090f1;
    --color-tab-icon-hover: #b8b8b850;
    --color-tab-icon-active: #a6a6a650;
    --color-code-bg: #fbfbfb;
    --color-code-text: #001080;
    --color-code-text-inline: #800000;
    --color-code-keyword: #0000ff;
    --color-code-function: #795e26;
    --color-code-operator: #000000;
    --color-code-string: #a31515;
    --color-code-variable: #000000;
    --color-code-constant: #098658;
    --color-code-punctuation: #000000;
    --color-code-comment: #008000;
    --color-quote: var(--color-body-text);
    --color-quote-symbols: #0451a5;
    }

    :root.monokai {
        --color-bg: #1e1f1c;
    --color-editor: #272822;
    --color-body-text: #f8f8f2;
    --color-secondary-text: #cfcfc2;
    --color-line-text: #90908a;
    --color-line-text-hover: #c2c2bf;
    --color-line-highlight-bg: #3e3d32;
    --color-comment: #88846f;
    --color-tab: #34352f;
    --color-tab-text: #ccccc7;
    --color-tab-text-active: #ffffff;
    --color-accent-1: #a6e22e;
    --color-accent-2: #4e94ce;
    --color-selection: #878b9180;
    --color-scrollbar-border: #7f7f7f4d;
    --color-scrollbar-thumb: #79797966;
    --color-scrollbar-thumb-hover: #646464b3;
    --color-scrollbar-thumb-active: #bfbfbf66;
    --color-scrollbar-shadow: #000000;
    --color-focus: #4e94ce;
    --color-tab-icon-hover: #5a5d5e50;
    --color-tab-icon-active: #63666750;
    --color-code-bg: #22231e;
    --color-code-text: #ffffff;
    --color-code-text-inline: #fd971f;
    --color-code-keyword: #f92672;
    --color-code-function: #66d9ef;
    --color-code-operator: #f92672;
    --color-code-string: #e6db74;
    --color-code-variable: #ffffff;
    --color-code-constant: #ae81ff;
    --color-code-punctuation: #ffffff;
    --color-code-comment: var(--color-comment);
    --color-quote: var(--color-comment);
    --color-code-inserted: #a6e22e;
    --color-code-removed: #f92672;
        }
     
        :root.github-dark {
            --color-bg: #1b1f23;
    --color-editor: #24292e;
    --color-body-text: #e1e4e8;
    --color-secondary-text: #959da5;
    --color-line-text: #768390;
    --color-line-text-hover: #e1e4e8;
    --color-line-highlight-bg: #2b3036;
    --color-comment: #6a737d;
    --color-tab: #1f2428;
    --color-tab-text: #959da5;
    --color-tab-text-active: #e1e4e8;
    --color-accent-1: #96d0ff;
    --color-accent-2: #4e94ce;
    --color-selection: #3392ff44;
    --color-scrollbar-border: #1b1f23;
    --color-scrollbar-thumb: #6a737d33;
    --color-scrollbar-thumb-hover: #6a737d44;
    --color-scrollbar-thumb-active: #6a737d88;
    --color-scrollbar-shadow: #00000088;
    --color-focus: #005cc5;
    --color-tab-icon-hover: #5a5d5e50;
    --color-tab-icon-active: #63666750;
    --color-code-bg: #202428;
    --color-code-text: #e1e4e8;
    --color-code-text-inline: #9ecbff;
    --color-code-keyword: #f97583;
    --color-code-function: #b392f0;
    --color-code-operator: #f97583;
    --color-code-string: #9ecbff;
    --color-code-variable: #9cdcfe;
    --color-code-constant: #79b8ff;
    --color-code-punctuation: #e1e4e8;
    --color-code-comment: #6a737d;
    --color-quote: #85e89d;
        }
     
        :root.github-light {
            --color-bg: #f6f8fa;
            --color-editor: #ffffff;
            --color-body-text: #24292e;
            --color-secondary-text: #6a737d;
            --color-line-text: #1b1f234d;
            --color-line-text-hover: #24292e;
            --color-line-highlight-bg: #f6f8fa;
            --color-comment: #6a737d;
            --color-tab: #eff2f6;
            --color-tab-text: #6a737d;
            --color-tab-text-active: #2f363d;
            --color-accent-1: #032f62;
            --color-accent-2: #0000ff;
            --color-selection: #0366d625;
            --color-scrollbar-border: #ffffff;
            --color-scrollbar-thumb: #959da533;
            --color-scrollbar-thumb-hover: #959da544;
            --color-scrollbar-thumb-active: #959da588;
            --color-scrollbar-shadow: #6a737d33;
            --color-focus: #2188ff;
            --color-tab-icon-hover: #b8b8b850;
            --color-tab-icon-active: #a6a6a650;
            --color-code-bg: #fcfcfc;
            --color-code-text: var(--color-body-text);
            --color-code-text-inline: var(--color-code-string);
            --color-code-keyword: #d73a49;
            --color-code-function: #6f42c1;
            --color-code-operator: #d73a49;
            --color-code-string: #032f62;
            --color-code-variable: #9cdcfe;
            --color-code-constant: #79b8ff;
            --color-code-punctuation: var(--color-body-text);
            --color-code-comment: #6a737d;
            --color-quote: #22863a;
        }
     
        :root.solarized {
            --color-bg: #eee8d5;
            --color-editor: #fdf6e3;
            --color-body-text: #333333;
            --color-secondary-text: #586e75;
            --color-line-text: #237893;
            --color-line-text-hover: #567983;
            --color-line-highlight-bg: #eee8d5;
            --color-comment: #93a1a1;
            --color-tab: #e4ddc9;
            --color-tab-text: #586e75;
            --color-tab-text-active: #333333;
            --color-accent-1: #268bd2;
            --color-accent-2: #0000ff;
            --color-selection: #eee8d5;
            --color-scrollbar-border: #7f7f7f4d;
            --color-scrollbar-thumb: #64646466;
            --color-scrollbar-thumb-hover: #646464b3;
            --color-scrollbar-thumb-active: #00000099;
            --color-scrollbar-shadow: #dddddd;
            --color-focus: #d3af86;
            --color-tab-icon-hover: #b8b8b850;
            --color-tab-icon-active: #a6a6a650;
            --color-code-bg: #f9f1dc;
            --color-code-text: #333333;
            --color-code-text-inline: #2aa198;
            --color-code-keyword: #268bd2;
            --color-code-function: #268bd2;
            --color-code-operator: #859900;
            --color-code-string: #2aa198;
            --color-code-variable: #268bd2;
            --color-code-constant: #d33682;
            --color-code-punctuation: #333333;
            --color-code-comment: #93a1a1;
            --color-quote: #859900;
        }
